
<link rel="stylesheet" href="/static/css/footer.css">
<div class="footer">
    <div class="footer-top">
        <a
                href="https://www.slices-ri.eu/"
                target="_blank"
                rel="noreferrer"
                class="link"
        >&copy; SLICES-RI {{ now.strftime('%Y') }}</a>
        <span class="footer-version" title="Artifact Manager release">{{ app_version }}</span>
    </div>
    <div class="sm-font">
        This project has received funding from 
        <a
                href="https://cordis.europa.eu/project/id/101287692"
                target="_blank"
                rel="noreferrer"
                class="link"
        ><b>the European Union’s Horizon Europe Research and Innovation Programme under the Grant Agreement SLICES-IP – GA-101287692.</b></a>
    </div>
    <div class="sm-font">
        This work was partially supported by
        <a
                href="https://anr.fr/ProjetIA-22-PEFT-0011"
                target="_blank"
                rel="noreferrer"
                class="link"
        ><b>the French National Research Agency under the France 2030 label (NF-Plateforme XG ANR-22-PEFT-00011).</b></a>
    </div>
    <div class="sm-font">
        This work is based on a fork of 
        <a
                href="https://github.com/fabric-testbed/artifact-manager"
                target="_blank"
                rel="noreferrer"
                class="link"
        >the FABRIC Artifact Manager</a> &copy; FABRIC 2026.
    </div>
</div>
